.darkbgc{
	width: 100%;
	margin: auto;
	margin-bottom: 1em;
	text-align: center;
	padding: 1em;
	padding-top: 2em;
	/*background: #1F4C73;*/
	background-image: url("bg.png");
	color: white;
	border-radius: 1em;
	background-size: cover;
}

@media screen and (max-width: 736px) {
	.darkbgc{
		background-image: url(bgphone.png);
		background-size: cover;
	}

}
.ttt{
	color: #1F4C73;
	font-size: 2.5em;
	font-weight: 900;
	text-align: center;
	width: 100%;
	margin-top: 1em;
}

